.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100vw;
    height: 50px;
    background-color: rgb(17, 14, 177);
}
.indexList{    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}