.loginForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
    
}

.loginForm .header input{
    margin-left: 10px;
    max-width: 200px;
    min-width: 100px;
    height: 15px;    
}

.loginForm .login{
    margin-right: 20px;
    }
.loginForm .password{
    margin-right: 20px;
 }
.passwordInput, .loginInput{
    width: 150px;
}
.error{
    position:absolute;
    
    top:50%;
    text-align:center;    
    padding:50px;
    border:3px solid red;
    color:red;
    font-size:24px;

}
