.addForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
}
.greeting{
    position: absolute;
    left:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.date{
    width: 100px;
}

