.addForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100px;
}
.greeting{
    position: absolute;
    left:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1050px){
    .greeting{
        position: relative;  
    }
    .addForm{
        flex-direction: column;
        justify-content: space-around;
    }
}


